.infoForm {
  font-size: 14px;
  color: #333;
}
.infoUser {
  font-size: 17px;
}
.App {
  background: #ddd;
}
.divButons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#editarView {
  background-color: rgb(238, 110, 24);
  margin-top: 10px;
  width: 60%;
  height: 43px;
  border: none;
  outline: 0;
  cursor: pointer;
  border-radius: 4px;
  font-size: 18px;

  color: white;
  letter-spacing: 1px;
  box-shadow: 0px 1px 4px 0px rgb(135, 135, 135);
}
#editarView:hover {
  background-color: rgb(119, 56, 10);
}
.HeaderCadastro {
  background: grey;
  padding: 1.3rem;
  border-radius: 0 0 2px 2px;
  box-shadow: 0px 1px 3px 0px #222;
}

#logo {
  color: #ca1d1d;
  font-size: 25px;
  display: flex;
  justify-content: center;
  font-weight: 700;
}

.container1 {
  margin-top: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.form-employe {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  padding: 5px 12px;
  padding-top: 20px;
  flex-direction: column;
  height: 600px;
  width: 400px;
  border-radius: 5px;
  box-shadow: 0px 1px 3px 0px #222;
  background-color: white;
  margin-bottom: 30px;
}
label {
  display: flex;
  font-weight: 600;
  align-items: flex-start;
  align-self: flex-start;
  padding-left: 5px;
}
input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #333;
  height: 36px;
  padding-left: 10px;
  margin-bottom: 7px;
}
select {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #333;
  height: 36px;
  padding-left: 5px;
  margin-bottom: 7px;
  font-weight: 500;
  font-size: 16px;
  color: rgb(107, 107, 107);
}
option {
  color: #333;
  font-size: 19px;
}
.voltarView {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#voltar:hover {
  background: rgb(143, 4, 4);
}
#voltar {
  margin-bottom: 10px;
  width: 60%;
  height: 43px;
  border: none;
  outline: 0;
  cursor: pointer;
  border-radius: 4px;
  font-size: 18px;
  background-color: #ca1d1d;
  color: white;
  letter-spacing: 1px;
  box-shadow: 0px 1px 4px 0px rgb(135, 135, 135);
  transition: 1s;

  gap: 5px;

  font-weight: bold;
  font-size: 17px;
  text-decoration: none;
  letter-spacing: 1.6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#link {
  margin-top: 20px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}
#link :hover {
  margin-top: 0px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 500;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
